body {
    background-color: rgb(252, 252, 252);
    margin: 0;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
}

.add {
    width: 110px;
    height: 40px;
    background-color: rgb(66, 66, 156);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin: 0 1rem;
}

.search {
    max-width: 500px;
    margin: 1rem 0;
}

.action-btn-container {
    display: flex;
    gap: 6px;
}

.action-btn-container button {
    border: none;
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
    font-size: 0.85rem;
    background-color: none;

}

.edit-btn {
    color: blue;

}

.del-btn {
    color: blue;
}

.form-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
}

form {
    padding: 5rem;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}

form input[type=text],
form input[type=date] {
    display: block;
    width: 350px;
    height: 30px;
    margin: 1rem;
    padding: 3px;
}

.status-container {
    margin: 1rem;
}

.form-btns {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.form-btns button {
    width: 80px;
    height: 30px;
    font-size: 1rem;
}